li :hover {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: grey;
}
li {
  padding-top: 0;
  padding-bottom: 0;
}

.list-item {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.help-text {
}

.network-item {
  display: inline-block;
}

.wifi-icon {
  height: 60px;
  width: 60px;
  vertical-align: middle;
}

.scan-button {
  width: 6%;
  height: 3%;
  background-color: red;
  border-color: yellow;
  border-width: 1px;
  border-style: double;
}

text {
  font-size: 12px;
  font-weight: lighter;
}

.selected {
  color: blue;
  background-color: wheat;
}

.non-selected {
  background-color: white;
  color: black;
}


p {
  background-color: white;
  font-size: 50;
  }

